/* Style accordion button */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Change background color of accordion when hover or active */
.active,
.accordion:hover {
    background-color: #ccc;
}

/* Style content panel of each accordion */
/* Regular accordion (show/hide panel)
    .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
} */

.panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

/* Add icon to each accordion button whether collapsible content is open or closed */
.accordion:after {
    content: '\002B';
    font-size: 16px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: '\2212';
}